# TD mise à niveau Python

## Variables et types de données

Une variable est une zone de la mémoire de l'ordinateur dans laquelle une valeur est stockée. La déclaration d'une variable et son initialisation  se font en même temps. Python est un langage au typage dynamique, il n'est pas nécéssaire de déclarer le type d'une variable, python le "devine" automatiquement.

Le type d'une variable peut être changé via une fonction.

In [ ]:
a = '2'
print("a =", a)
print("type =", type(a))

In [ ]:
b = int(a)
print("b =", b)
print("type =", type(b))

### Exercice
1. Afficher les types de x et y
2. Affecter à z la somme de x et y
3. Afficher z et son type

In [4]:
x = '2'
y = 5.0

TypeError: can only concatenate str (not "float") to str

## Listes

Une liste est une structure de données qui contient une série de valeurs. Python autorise la construction de liste contenant des valeurs de types différents.

On peut appeler ses éléments par leur position, une liste de n éléments commencent à 0 et se terminent à n-1.

La liste peut également être indexée avec des nombres négatifs.

Une tranche de valeurs peut être sélectionné au sein de la liste.

In [3]:
prenom = ['Pierre','Paul','Marie','Catherine']

print(prenom[0])
print(prenom[-2])
print(prenom[0:3])

Pierre
Marie
['Pierre', 'Paul', 'Marie']

### Concaténation
Deux listes peuvent être concaténées via l'oérateur +

In [ ]:
prenom2 = ["Jean","Louis"]
prenom + prenom2

Un élément peut être ajouté à une liste via la fonction append()

In [ ]:
prenom.append("François")
prenom

### Fonction sur liste

Longueur d'une liste

In [ ]:
len(prenom)

L'instruction range() est une fonction qui génère des nombres entiers compris dans un intervalle. 
La fonction list() permet de transformer le résultat en liste.

In [ ]:
list(range(5))

In [ ]:
sum(list(range(5)))

In [ ]:
max(list(range(5)))

#### Exercice

Créer une liste des nombres paires jusqu'à 10 et calculer la moyenne de cette liste.

In [5]:
# Création de la liste des nombres pairs jusqu'à 10
nombres_pairs = [x for x in range(2, 11, 2)]  # Démarre à 2, se termine à 10, pas de 2 en 2

# Affichage de la liste
print("Liste des nombres pairs jusqu'à 10 :", nombres_pairs)

# Calcul de la moyenne
moyenne = sum(nombres_pairs) / len(nombres_pairs)

# Affichage de la moyenne
print("Moyenne des nombres pairs :", moyenne)

Liste des nombres pairs jusqu'à 10 : [2, 4, 6, 8, 10]
Moyenne des nombres pairs : 6.0

## Condition IF/ELIF/ELSE

Les instructions if,elif, else permettent de lancer du code sous une certaines condition.

In [6]:
age = 25

if age < 18:
    print("mineur")
else :
    print("majeur")

majeur

## Boucle FOR et WHILE

Les boucles permettent de réaliser des actions répétitives de manière compacte et efficace en parcourant un ensemble de valeurs.

In [ ]:
villes = ['Paris','Marseille','Lyon']
for x in villes :
    print(x)

La boucle while est une alternative à la boucle for, elle permet de réaliser une série d'instructions tant qu'une condition est vraie.

In [ ]:
i = 1
while i <= 3:
    print(i)
    i += 1

## Dictionnaire 

Le dictionnaire est un type qui se définit comme un ensemble de paires clé: valeur, les clés devant être uniques.

In [ ]:
note_math = {'Jean' : 16,
             'Pierre' : 14,
             'Marie' : 15}
note_math

Récupérer la valeur d'une clé.

In [ ]:
note_math['Marie']

Parcourir un dictionnaire via la fonction items().

In [ ]:
for cle, valeur in note_math.items() :
    print(f'{cle} a eu {valeur} en math.')

### Exercice

Compter le nombre d'apparition de chaque animaux de la liste et stocker le tout dans un dictionnaire.

In [10]:
# Liste des animaux
animals = ['Chien', 'Chat', 'Chat', 'Poule', 'Chat', 'Poule', 'Chien', 'Chat', 'Chien']

# Initialisation du dictionnaire de comptage
compteur_animaux = {}

# Boucle pour compter les occurrences
for animal in animals:
    # Vérifie si l'animal est déjà dans le dictionnaire
    if animal in compteur_animaux:
        # Si oui, incrémente le compteur
        compteur_animaux[animal] += 1
    else:
        # Si non, ajoute l'animal au dictionnaire avec un compteur initial de 1
        compteur_animaux[animal] = 1

# Affichage du résultat
print(compteur_animaux)

{'Chien': 3, 'Chat': 4, 'Poule': 2}

## Fonction

Les fonctions sont très utiles pour réaliser plusieurs fois la même opération au sein d'un programme. Elles rendent également le code plus lisible et plus clair en le fractionnant en blocs logiques.

In [11]:
def mention(note) :
    if note >= 16 :
        return "Très bien"
    elif note >= 14 and note < 16 :
        return "Bien" 
    elif note >= 12 and note < 14 :
        return "Assez bien" 
    elif note >= 10 and note < 12 :
        return "Admis" 
    else :
        return "Non admis"

In [12]:
note = 14.2
print(mention(note))

Bien

### Exercice

Créer une fonction qui prend en entrée un dictionnaire, et qui retourne les prénoms des élèves qui ont plus de 10 dans une liste.

In [13]:
def eleves_sup_10(dictionnaire_notes):
    # Liste des prénoms des élèves avec une note supérieure à 10
    eleves_sup_10_liste = []
    
    # Boucle pour parcourir le dictionnaire
    for prenom, note in dictionnaire_notes.items():
        # Condition pour vérifier si la note est supérieure à 10
        if note > 10:
            eleves_sup_10_liste.append(prenom)
    
    return eleves_sup_10_liste

# Dictionnaire des notes
note_math = {'Jean': 16, 'Pierre': 14, 'Marie': 15, 'François': 8, 'Louise': 10.5}

# Appel de la fonction avec le dictionnaire des notes en paramètre
resultat = eleves_sup_10(note_math)

# Affichage du résultat
print("Élèves avec une note supérieure à 10 :", resultat)

Élèves avec une note supérieure à 10 : ['Jean', 'Pierre', 'Marie', 'Louise']

## Data frame

Structure de données de forme tableau, de la librairie pandas.

In [14]:

%pip install pandas
%pip install openpyxl

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/0b/e0/8d97c7ecd73624f4cd5755578990b3cfbc6bbe350b8e017ede3580173a6f/pandas-2.1.4-cp312-cp312-macosx_11_0_arm64.whl.metadata
  Downloading pandas-2.1.4-cp312-cp312-macosx_11_0_arm64.whl.metadata (18 kB)
Collecting numpy<2,>=1.26.0 (from pandas)
  Obtaining dependency information for numpy<2,>=1.26.0 from https://files.pythonhosted.org/packages/94/9c/f1e88764737c126637d0434df712b1baa371a404a3e3751ee997e74e164b/numpy-1.26.3-cp312-cp312-macosx_11_0_arm64.whl.metadata
  Downloading numpy-1.26.3-cp312-cp312-macosx_11_0_arm64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.2/61.2 kB 2.5 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Obtaining dependency information for tzdata>=2022.1 from https://files.pythonhosted.org/packages/a3/fb/52b62131e21b24ee297e4e95ed41eba29647dad0e0051a92bb66b43c70ff/tzdata-2023.4-py2.py3-none-any.whl.metadata
  Downloading tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.4-cp312-cp312-macosx_11_0_arm64.whl (10.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.6/10.6 MB 3.4 MB/s eta 0:00:0000:0100:01
Downloading numpy-1.26.3-cp312-cp312-macosx_11_0_arm64.whl (13.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.7/13.7 MB 5.1 MB/s eta 0:00:0000:0100:01
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 kB 4.1 MB/s eta 0:00:00a 0:00:01
Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 3.3 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.3 pandas-2.1.4 pytz-2023.3.post1 tzdata-2023.4

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 2.1 MB/s eta 0:00:0000:0100:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

Lecture d'un fichier.

In [27]:
import pandas as pd
data = pd.read_excel("Titanic_dataset.xlsx")

Affichage des premières lignes du dataframe.

In [28]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

Dimension du dataframe.

In [29]:
data.shape

(1309, 14)

Info sur le dataframe :
 - dimensions
 - colonnes
 - nombre de valeurs nulles par colonne
 - type de chaque colonne

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

Sélection d'une ligne.

In [31]:
data.loc[0]

pclass                                   1
survived                                 1
name         Allen, Miss. Elisabeth Walton
sex                                 female
age                                   29.0
sibsp                                    0
parch                                    0
ticket                               24160
fare                              211.3375
cabin                                   B5
embarked                                 S
boat                                     2
body                                   NaN
home.dest                     St Louis, MO
Name: 0, dtype: object

Sélection de plusieurs lignes.

In [32]:
data.loc[3:6]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"

Sélection d'une colonne.

In [33]:
data['name']

0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: name, Length: 1309, dtype: object

Sélection de plusieurs colonnes.

In [34]:
data[['name','sex']]

                                                 name     sex
0                       Allen, Miss. Elisabeth Walton  female
1                      Allison, Master. Hudson Trevor    male
2                        Allison, Miss. Helen Loraine  female
3                Allison, Mr. Hudson Joshua Creighton    male
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
...                                               ...     ...
1304                             Zabour, Miss. Hileni  female
1305                            Zabour, Miss. Thamine  female
1306                        Zakarian, Mr. Mapriededer    male
1307                              Zakarian, Mr. Ortin    male
1308                               Zimmerman, Mr. Leo    male

[1309 rows x 2 columns]

#### Exercice
Afficher les 5 derniers lignes des colonnes name, sex et age.

In [35]:
import pandas as pd

# Supposons que votre DataFrame s'appelle df (à adapter en fonction de votre cas)
# Vous devez avoir un DataFrame avec les colonnes 'name', 'sex', et 'age'

# Exemple de création d'un DataFrame fictif
data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'sex': ['F', 'M', 'M', 'M', 'F'],
        'age': [25, 30, 22, 28, 35]}

df = pd.DataFrame(data)

# Affichage des 5 dernières lignes des colonnes 'name', 'sex', et 'age'
dernieres_lignes = df[['name', 'sex', 'age']].tail(5)

# Affichage du résultat
print(dernieres_lignes)

      name sex  age
0    Alice   F   25
1      Bob   M   30
2  Charlie   M   22
3    David   M   28
4    Emily   F   35

### Manipulation de données avec Pandas

Filtrer les lignes suivant une condition.

In [36]:
data_survived = data[data['survived'] == 1]
data_survived

KeyError: 'survived'

Filtrer les lignes suivant plusieurs conditions.

In [37]:
data_survived_class1 = data[(data['pclass'] == 1) & (data['survived'] == 1)]
data_survived_class1

KeyError: 'pclass'

Trier un data frame.

In [38]:
data.sort_values('age')

AttributeError: 'dict' object has no attribute 'sort_values'

Opération sur une colonne.

In [39]:
data['age'].loc[data['age'] < 1] = 0

data.sort_values('age')

AttributeError: 'list' object has no attribute 'loc'

### Exercice

Créer un nouveau dataframe comprenant seulement les femmes qui ont survécu, l'afficher en le triant en fonction de la classe dans l'ordre décroissant.

In [40]:
import pandas as pd

# Supposons que votre DataFrame s'appelle df (à adapter en fonction de votre cas)
# Vous devez avoir une colonne 'Sex' pour le genre, une colonne 'Survived' pour la survie,
# et une colonne 'Pclass' pour la classe.

# Exemple de création d'un DataFrame fictif
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Sex': ['female', 'male', 'female', 'female', 'female'],
        'Survived': [1, 0, 1, 1, 0],
        'Pclass': [1, 3, 2, 1, 3]}

df = pd.DataFrame(data)

# Création du nouveau DataFrame avec seulement les femmes qui ont survécu
nouveau_df = df[(df['Sex'] == 'female') & (df['Survived'] == 1)]

# Tri du nouveau DataFrame en fonction de la classe dans l'ordre décroissant
nouveau_df_trie = nouveau_df.sort_values(by='Pclass', ascending=False)

# Affichage du résultat
print(nouveau_df_trie)

      Name     Sex  Survived  Pclass
2  Charlie  female         1       2
0    Alice  female         1       1
3    David  female         1       1

### Gestion des valeurs manquantes
Sur pandas, une valeur manquante est identifié par NaN (Not a Number)

Identifier les valeurs manquantes avec la fonction isnull qui retourne un booléen pour chaque ligne.

In [41]:
data['home.dest'].isnull()

KeyError: 'home.dest'

#### Exercice

1. Compter le nombre de valeur nulles dans la colonne age

2. Calculer la moyenne de la variable age

In [42]:
import pandas as pd

# Supposons que votre DataFrame s'appelle df (à adapter en fonction de votre cas)

# Exemple de création d'un DataFrame fictif
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, None, 28, 35]}

df = pd.DataFrame(data)

# Compter le nombre de valeurs nulles dans la colonne 'Age'
nombre_valeurs_nulles = df['Age'].isnull().sum()

# Afficher le nombre de valeurs nulles
print("Nombre de valeurs nulles dans la colonne 'Age':", nombre_valeurs_nulles)

# Calculer la moyenne de la variable 'Age' (en excluant les valeurs nulles)
moyenne_age = df['Age'].mean()

# Afficher la moyenne
print("Moyenne de la variable 'Age':", moyenne_age)

Nombre de valeurs nulles dans la colonne 'Age': 1
Moyenne de la variable 'Age': 29.5

#### Suppression des valeurs manquantes via la fonction dropna()

In [45]:
import pandas as pd
new_data = data.dropna(axis=0, subset=['name','sex','age'])
new_data

AttributeError: 'dict' object has no attribute 'dropna'

#### Convertir une colonne avec la fonction astype()

La fonction astype ne peut s'appliquer que sur des colonnes sans valeurs manquantes.

In [46]:
new_data["age"] = new_data['age'].astype(int)
new_data.head()

NameError: name 'new_data' is not defined

#### Gestion des index

La fonction loc se base sur l'index de la ligne pour filtrer.

In [ ]:
new_data.sort_values('age').loc[0:6]

Mettre de simples crochets pour filtrer se base sur les positions de lignes dans le dataframe.

In [ ]:
new_data.sort_values('age')[0:6]

Réindexage d'un dataframe avec la fonction reset_index().

In [ ]:
new_data_reindex = new_data.sort_values('age')[0:6].reset_index(drop=True)
new_data_reindex

#### Exercice

Affecter à un nouveau dataframe, les 10 personnes les plus agées puis réindéxer le nouveau dataset.

### Appliquer une fonction à un dataframe

Appliquer une fonction à toutes les colonnes.

In [ ]:
def null_count(col):
    return len(col[pd.isnull(col)])

data.apply(null_count)

Appliquer une fonction à toutes les lignes d'une colonne.

In [ ]:
def plus_1 (x):
    return x+1

data['age'].apply(plus_1)

#### Exercice

- Créer une fonction qui retourne si une personne est mineur ou majeur en fonction de l'age.
- Créer une nouvelle colonne dans le dataframe new_data qui indique si la personne est majeure ou mineure.

### Table pivot

Permet de réorganiser, agréger et résumer les données d'un dataframe.

In [ ]:
import numpy as np 

survived_by_sex = new_data.pivot_table(index='sex', values='survived', aggfunc=np.mean)
survived_by_sex

On peut également réindéxer une table pivot pour l'avoir dans le format dataframe.

In [ ]:
survived_by_sex = survived_by_sex.reset_index()
survived_by_sex

#### Exercice

Créer un nouveau dataframe avec deux colonnes, la première pour l'ensemble des âges du dataframe et la deuxième pour le taux de survivant associé.

## Graphiques avec matplotlib

In [ ]:
pip install matplotlib

Courbe

In [1]:
import matplotlib.pyplot as plt

plt.plot(survived_by_age['age'],survived_by_age['survived'])
plt.xlabel("Age")
plt.ylabel("Taux de survivant")
plt.title("Taux de survivant en fonction de l'age")
plt.show()

NameError: name 'survived_by_age' is not defined

Diagramme en bâton

In [2]:
survived_by_age_labels = new_data.pivot_table(index='age_labels', values='survived', aggfunc=np.mean).reset_index()

plt.bar(survived_by_age_labels['age_labels'],survived_by_age_labels['survived'],color = ['#fdaa48','#6890F0'])
plt.title("Taux de survivant par catégories")
plt.show()

NameError: name 'new_data' is not defined

Boîte à moustache

In [3]:
plt.boxplot(new_data['age'])
plt.show()

NameError: name 'new_data' is not defined